body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ea44e5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.boleto-item {
    text-align: center;
    margin-bottom: 2cm; /* Reduce el espacio entre los boletos */
}

.boleto-item img {
    width: 100%;
    max-width: 200px; /* Tamaño más grande para las imágenes */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px; /* Reduce el espacio debajo de la imagen */
}

.boleto-item p {
    margin-bottom: 5px; /* Reduce el espacio entre los párrafos */
}

.boletos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-gap: 2cm; /* Reduce el espacio entre los elementos */
}

.evento-item {
    text-align: center;
    margin-bottom: 2cm; /* Reduce el espacio entre los eventos */
}

.evento-item img {
    width: 100%;
    max-width: 600px; /* Tamaño más grande para las imágenes */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.285);
    margin-bottom: 10px; /* Reduce el espacio debajo de la imagen */
}

.evento-item p {
    margin-bottom: 5px; /* Reduce el espacio entre los párrafos */
}

.eventos-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 2cm; /* Reduce el espacio entre los elementos */
}

header {
    background-color: #ea44e5;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ffffff;
}

footer {
    background-color: #f430e6;
    color: rgb(255, 252, 252);
    text-align: center;
    padding: 1em 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}