body {
    font-family: 'Arial', sans-serif;
    background-color: #ce34ce;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.eventos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    justify-content: center;
}

.evento-item {
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.evento-item img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.evento-info {
    padding: 15px;
    flex: 1;
}

.evento-info h2 {
    margin-top: 0;
    font-size: 1.5em;
}

evento-info p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.btn-boletos {
    display: inline-block;
    padding: 10px 15px;
    background: #e61bbd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.btn-boletos:hover {
    background: #ce34ce;
}

header {
    background-color: #ce34ce;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ffffff;
}

footer {
    background-color: #ce34ce;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}