body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  gap: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  background: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 60px; /* Ajusta este valor según la altura de la navbar */
}

.navbar {
  width: 100%; /* Asegura que ocupe todo el ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}
