<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
</head>
<body>
    {% include 'base/header.html' %}
    <main>
        <div class="container">
            <h1>{{ titulo }}</h1>
            <p>Total de Eventos: {{ total_eventos }}</p>

            <div class="eventos-list">
                {% for evento in eventos %}
                    <div class="evento-item">
                        <img src="{% static 'images/eventos.jpg' %}" alt="Imagen de Evento">
                        <div class="evento-info">
                            <h2>{{ evento.name }}</h2>
                            <p><strong>Localidad:</strong> {{evento.Localidad}}</p>
                            <p><strong>Fecha de Inicio:</strong> {{ evento.fecha_inicio }}</p>
                            <p><strong>Fecha de Fin:</strong> {{ evento.fecha_fin }}</p>
                            <p><strong>Descripción:</strong> PURA PARRANDAAAAAAAA</p>
                            <a href="{% url 'boletos_por_evento' evento.id %}" class="btn-boletos">Boletos</a>
                            <a href="{% url 'agregar_evento' %}" class="btn-agregar">Agregar Evento</a>


                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'base/footer.html' %}
</body>
</html>
