<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% include 'base/header.html' %}
    <main>
        <div class="container">
            {% block content %}


            <h2 class="news-title">CARNAVAL MÉXICO 2025</h2>
            <h3> EVENTOS Y NOVEDADES</h3>

            <!-- Galería de imágenes -->
            <section class="gallery">
                <div class="image-grid">
                    <img src="{% static 'images/carnaval.jpg' %}" alt="Imagen 1">
                    
                </div>
            </section>

            <!-- Espacio con el título de Noticias -->
            

            <!-- Sección de noticias -->
            <section class="news">
                <div class="image-grid">
                    <img src="{% static 'images/noti.jpg' %}" alt="Noticia 1">
                   
                </div>
            </section>
            
            {% endblock %}
        </div>
    </main>
    {% include 'base/footer.html' %}
</body>
</html>
